<div class='container'>
  <div class='col text-center'>
    <h3 class='text-center mt-5'>Welcome {{user.username}}</h3>

    <div class='d-grid mt-3'>
       <a href="/project/create">
      <button class='btn btn-primary btn-lg mb-2' type='button'>Submit your project</button>
       </a>
    </div>
  </div>
</div>
<hr class="mb-3">
<h3 class="text-center mb-3"> Your Projects: </h3>
<div class="container text-center ">
  <div class="row justify-content-evenly">
{{#each project}} 
  <div class='col-sm-12 col-md-6 col-xl-3 m-1 card mb-5'>
      <h5 class='card-title mt-1'>{{name}}</h5>
        {{#if image}}
          <img src={{image}} class="card-img-top card-img">
        {{else}}
          <img src="../images/defaultimage.jpg" class="card-img-top card-img">
        {{/if}}
      <div class='card-body'>
        <p class='description mx-auto d-block'>{{description}}</p>
        <form role='search'>
          <a href='/project/{{_id}}/edit' class='btn btn-secondary mt-1'> Edit Project </a>
        </form>
        <form role='search'>
          <a href='/project/{{_id}}/delete' class='btn btn-outline-secondary btn-sm mt-0.5'>Delete</a>
        </form>
      </div>

    </div>
  
{{/each}}

    </div>
    </div>